*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
a:hover,
a:active,
a:visited {
  color: #34495e;
  text-decoration: none;
  border-bottom: 1px solid #2c3e50;
}

a:hover {
  border-bottom: 2px solid #9b59b6;
}

a.start-slideshow {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #2c3e50;
  border-right: 2px solid #9b59b6;
  border-bottom: 2px solid #9b59b6;
}

.start-slideshow:hover {
  border-top: 2px solid #9b59b6;
  border-left: 2px solid #9b59b6;
  border-bottom: 1px solid #2c3e50;
  border-right: 1px solid #2c3e50;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}

body {
 font-family: 'Work Sans', sans-serif;
}

button {
  padding: 0.1rem 0.3rem;
}

.splash {
  height: 100vh;
  background: url(/wser/images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.bg {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0.8));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}

h1 {
  padding-top: 30vh;
  font-size: 3rem;
  width: 100vw;
  text-align: center;
}

.start-button a,
.start-button a:hover,
.start-button a:active,
.start-button a:visited {
  color: white;
  text-decoration: none;
  border: 0;
}

.start-button {
  align-self: flex-end;
  padding-bottom: 3vh;
  font-size: 3rem;
}

.intro {
  padding: 3rem 3rem 5rem;
}

p {
  padding: 0.5rem 0;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h2 {
  height: 3.2rem;
  line-height 2.5rem;
  padding: 0.2rem 1rem;
  font-size: 2rem;
}

.content {
  flex: 1;
  display: flex;
  min-height: 0;
}

.content .caption {
  width: 25rem;
  overflow-y: scroll;
  max-height: 100%;
  padding: 1rem;
  padding-right: 2rem;
  text-align: justify;
}

.controls {
  height: 3rem;
  display: flex;
}

.control {
  padding: 0 1rem;
  vertical-align: middle;
  height: 100%;
  line-height: 3rem;
}

.year-slider input {
  vertical-align: middle;
}

.control.slides {
  line-height: initial;
  padding-top: 0.6rem;
}

.tooltip {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  font-size: 0.9rem;
}

.year-label {
  font-size: 0.75rem;
}
